<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function setBodyAttr(attr, value) {
            if(document.body) {
                document.body[attr] = value;
            } else {
                throw new Error("no support");
            }
        }
    </script>
    <script src="/src/thermostat.js"></script>
    <script src="/src/app.js"></script>
    <link rel="stylesheet" href="/views/stylesheet.css">
    <title>Thermostat</title>
</head>
<body>
    <form id="select-city">
        <input id="current-city" type="text" placeholder="Enter a City">
        <input type="submit">
    </form>
    <div id="weather"></div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

        })
    </script>
    <div id="temp-controls">
        <button id="temperature-down">-</button>
        <h1 id="temperature"></h1>
        <button id="temperature-up">+</button>
    </div>
    <p>
        <button id="temperature-reset">reset</button>
        Powersaving mode is <span id="power-saving-status">on</span>
        <button id="powersaving-on">PSM on</button>
        <button id="powersaving-off">PSM off</button>
    </p>
    <span id="energy-usage"></span>
    <script src="../src/thermostat.js"></script>
</body>
</html>