<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function setBodyAttr(attr, value) {
            if(document.body) {
                document.body[attr] = value;
            } else {
                throw new Error("no support");
            }
        }
    </script>
    <script src="/src/thermostat.js"></script>
    <script src="/src/app.js"></script>
    <link rel="stylesheet" href="/views/stylesheet.css">
    <title>Thermostat</title>
</head>
<body>
    <!-- <div id="dog-pics"></div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            
                fetch('https://dog.ceo/api/breeds/image/random')
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        document.querySelector('#dog-pics')
                        .innerHTML = `<img src= ${data.message} >`
                    })
        
            console.log("howdy")
        })
    </script> -->
    <div id="weather"></div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            fetch('https://api.openweathermap.org/data/2.5/weather?q=london&appid=3778fc05401d0fdfe10f9f06a9e65c02')
            .then((response) => {
                return response.json()
            })
            .then((data) => {
                document.querySelector('#weather')
                .innerHTML = `<h3>${data.name}</h3>`
            })
        })
    </script>
    <h1 id="temperature"></h1>
    <p>
        <button id="temperature-up">+</button>
        <button id="temperature-down">-</button>
        <button id="temperature-reset">reset</button>
        Powersaving mode is <span id="power-saving-status">on</span>
        <button id="powersaving-on">PSM on</button>
        <button id="powersaving-off">PSM off</button>
    </p>
    <span id="energy-usage"></span>
    <p>
    <select onchange="setBodyAttr('bgColor',
       this.options[this.selectedIndex].value);">
        <option value="white">white</option>
        <option value="green">green</option>   
    </select> 
    </p>
    <script src="../src/thermostat.js"></script>
</body>
</html>